// variables
@import "variables.scss";
.blog-background{
  background-color: $secondary-background;
  margin: 0;
}

.blog-header-img{
  background-image: url("../images/hvad-er-orangevin/hvad-er-orangevin-header.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 140%;
  height: 20vh;
}

.standard-blog-billede{
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 5px;
  margin: 5px auto;
}

.inspiration-blog-main{
  background-color: $primary-background;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
  font-size: .85em;
  h1{
    font-size: 1.1em;
    font-family: $primary-header;
  }
  h2{
    text-align: left;
    font-family: $primary-font;
  }
}

.intro-hvad-er-orangevin{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 95%;
  img{
    margin: 0 auto;
    width: 90%;
  }
}
.blog-product{
  background-color: $secondary-background;
  width: 100vw;
  margin-left: -10px;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
}
.blog-product-header{
  font-size: .8em;
  text-align: center;
  font-family: $primary-font;

}
.blog-product-item{
  background-color: $primary-background;
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 5px 5px 15px 0;
  position: relative;
}
.blog-item-content{
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px){


  .standard-blog-billede{
    max-width: 500px;
  }
  .inspiration-blog-main{
    width: 80%;
    border-radius: 5px;
    box-shadow: $box-shadow;

  }

  .blog-product{
    position: relative;
    width: 110%;
    margin: 0;
    left: -5%;
  }
  .blog-product-item{
    width: 90%;
    margin: 0 auto;
  }
  .blog-product-header{
    font-size: .9em;
  }




}

@media (min-width: 1025px){

  .inspiration-blog-main{
    font-size: 1em;

    h1{
      font-size: 1.4em;
      margin-bottom: 15px;
    }
  }

  .standard-blog-billede{
    max-width: 800px;
    max-height: 500px;
  }

}

@media (min-width: 1200px){
  .blog-header-img{
    height: 50vh;

    background-position: 50% 60%;
  }
  .inspiration-blog-main{
    position: relative;
    top: -60px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: $box-shadow;
    padding: 40px 100px 0 100px;
  }
  .blog-product{
    background-color: $primary-background;
  }
  .blog-product-item{
    width: 500px;
    margin: 0 auto;

  }

}

@media (min-width: 1900px){
  .inspiration-blog-main{
    width: 70%;
  }
}
