
// varibales import
@import "variables.scss";




//Adding logo to header
.snipcart-cart-header{
  background: url('../logo/shopping-cart-header.png') no-repeat 0 center;
  background-size: 30%;
  background-position: 50%;
}
//removing "kurv" header title
.snipcart-cart-header__title{
  display: none;
}
//changing the collors of the buttons
.snipcart-overwrite #snipcart-main-container a.snipcart-next, .snipcart-overwrite #snipcart-main-container a.snipcart-finalize, .snipcart-overwrite #snipcart-main-container a.snipcart-mainaction {
    background: $amber;
    border: none;
    text-shadow: none;
}


//Colors:
.snipcart-cart-button--highlight, .snipcart__box--badge-highlight{
  background: linear-gradient(90deg,$amber,$amber-lighter);
}
.snipcart__actions--link, .snipcart__icon{
  color: $amber;
}



//Removing "powered by SnipCart"
.snipcart-overwrite #snipcart-footer #snipcart-powered {
    display: none;
}
.snipcart-featured-payment-methods__title{
  display: none;
}

@media (min-width: 768px) {
  .snipcart-cart-header{
    background-size: 110px;
    background-position: 50%;
  }
}

@media (min-width: 1024px) {
  .snipcart-cart-header{
    background-size: 165px;
    background-position: 50%;
  }
}
